.rate-segment {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
  &__price {
    font-size: 15px;
    font-weight: bold;
  }
}
