.currency-input {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  border-radius: 5px;
  border: 1px gray solid;
  padding: 0 5px;
  label{
    position: absolute;
    top: -10px;
    font-size: 12px;
    font-weight: 700;
    background-color: white;
    text-transform: capitalize;
  }
  input{
    border:none;
    outline: none;
  }
  select{
    outline: none;
  }
  &__divider {
    width: 1px;
    height: 70%;
    background-color: gray;
    margin: 0 5px;
  }
  &__selector {
    border: none;
  }
}

